{% extends 'generic_page_template.html' %}
{% load static %}

{% block child_css %}
    <link rel="stylesheet" href="{% static 'generic_card_list.css' %}">
{% endblock child_css %}

{% block child_content %}

    <h1>Historial de vacunas</h1>

    <div class="card_container">
        <div class="carde">
            <h2>Vacunas COVID:</h2>
            {% for instance in covid %}
                <div class="vaccinator_list_container ml-auto p-2 align-self-center">
                    <p><br> Zona: {{ instance.vacunatorio.zona }} 
                        <br> Vacuna: {{ instance.vacuna }} 
                        <br> Fecha de la vacunacion: {{ instance.fecha }} </p>
                </div>  
                {% empty %}
                <h3>No te diste vacunas de la COVID en VacunAssist</h3>
            {% endfor %}
        </div>
        <div class="carde">
            <h2>Vacunas Gripe:</h2>
            {% for instance in gripe %}
                <div class="vaccinator_list_container ml-auto p-2 align-self-center">
                    <p><br> Zona: {{ instance.vacunatorio.zona }} 
                        <br> Vacuna: {{ instance.vacuna }} 
                        <br> Fecha de la vacunacion: {{ instance.fecha }} </p>
                </div>  
                {% empty %}
                <h3>No te diste vacunas de la Gripe en VacunAssist</h3>
            {% endfor %}
        </div>
        <div class="carde">
            <h2>Vacuna Fiebre:</h2>
            {% for instance in fiebre %}
                <div class="vaccinator_list_container ml-auto p-2 align-self-center">
                    <p><br> Zona: {{ instance.vacunatorio.zona }} 
                        <br> Vacuna: {{ instance.vacuna }} 
                        <br> Fecha de la vacunacion: {{ instance.fecha }} </p>
                </div>  
                {% empty %}
                <h3>No te diste vacunas de la fiebre amarilla en VacunAssist</h3>
            {% endfor %}
        </div>
        {% include "paginator.html" %}
        {% include "messages.html" %}
        {% include "errors.html" %}
    </div>
    <div class="extra_content">
        <form action="" method="post">
            {% csrf_token %}
            <input type="submit" value="Descargar historial de vacunas">
        </form>
    </div>
{% endblock child_content %}

