/* VacunAssist */
.main_container{
    padding: 0px;
    position: relative;
    background: #FFFFFF;
}


/* Principal */
.main_fields_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    flex: none;
    order: 1;
    flex-grow: 0;

}
.button_container{
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

 /* Frame 15 */
.row_container{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 30px;
    gap: 30px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.text_button_form{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px 75px;
    gap: 10px;
    background: #54CBFF;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-family: 'Montserrat';
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;

    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.icon_form{

    flex: none;
    order: 0;
    flex-grow: 0;
}
