.contact_us_container{
    gap: 30px;
}
.element_container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;

}

.contact_img{
    width: 60px;
    height: 60px;
}