.main_container{
    padding: 0px;
    position: relative;
    background: #FFFFFF;
}


/* Principal */
.main_fields_container{
    display: flex;
    flex-direction: column;
    align-items: center;

    flex: none;
    order: 1;
    flex-grow: 0;

}

.turn{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: none;
    order: 1;
    flex-grow: 0;
    width: 60vw;
    margin-bottom: 1rem;
    border: thin;
    border-color: darkgray;
    box-shadow: 0px 0px 4px 4px rgba(83, 83, 83, 0.3);
    border-radius: 7px; 
}

.button{
    gap: 10px;
    background-color: #54ffdd;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    flex: none;
    order: 1;
    flex-grow: 0;
    font-family: 'Montserrat';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    border: transparent;
    display: block;
    width: 100%;
}

.alert{
    width: 60vh;
}