{% extends 'base.html' %}
{% load static %}

{% block css %}
    
    <link rel="stylesheet" href="{% static 'administrator_landing.css' %}">
    
    <link rel="stylesheet" href="{% static 'presentacion.css' %}">
{% endblock css %}

{% block content %}
    <div class="main_container container-fluid d-flex flex-row">
        {% include "navbar.html" %}
        <div class="main_fields_container align-self-start ">
            {% include "presentacion.html" %}
            <div class="button_container">
                <div class="row_container">
                    <form method="GET" action="create_vaccinator/">
                        <input type="submit" class="text_button_form" value="Crear cuenta de vacunador"/>
                    </form>
                    <form method="GET" action="vaccinators_list/">
                        <input type="submit" class="text_button_form" value="Ver listado de vacunadores"/>
                    </form>
                    <form method="GET" action="stock/">
                        <input type="submit" class="text_button_form" value="Ver stock en los vacunatorios"/>
                    </form>
                </div>
                <div class="row_container">
                    <form method="GET" action="change_name/">
                        <input type="submit" class="text_button_form" value="Cambiar nombre de centro" id="cambiar_nombre_vacunatorio"/>
                    </form>
                    <form method="GET" action="patients_list/">
                        <input type="submit" class="text_button_form" value="Ver listado de pacientes" id="ver_listado_de_pacientes"/>
                    </form>
                    <form method="GET" action="yellow_fever_list/">
                        <input type="submit" class="text_button_form" value="Ver solicitudes de fiebre amarilla"/>
                    </form>
                </div>
            </div>  
        </div>
    </div>

{% endblock content %}
