{% extends 'generic_card_list.html' %}


{% block card %}
<p class="vaccinator_text"> 
    Nombre: {{ instance.user.nombre_completo }}
    <br> DNI: {{ instance.user.dni }} 
    <br> Zona: {{ instance.user.zona }} 
    <br> Fecha de Nacimiento: {{ instance.user.fecha_nac.date }} </p>
    <div class="button_container ml-auto p-2 align-self-end">
        <form method="GET" action='/administrator/vaccinator/{{ instance.user.get_absolute_url }}/delete'>
            <button class="btn button btn-block">Borrar</button>
        </form>
    </div>
{% endblock card %}
    