{% extends 'base.html' %}
{% load static %}

{% block css %}
    
    <link rel="stylesheet" href="{% static 'vaccinator_list.css' %}">
    <link rel="stylesheet" href="{% static 'nav_bar.css' %}">
    <link rel="stylesheet" href="{% static 'presentacion.css' %}">
{% endblock css %}

{% block content %}
    <div class="main_container container-fluid d-flex flex-row">
        <div class="navbar_container">
            {% include "navbar.html" %}
        </div>
        <div class="main_fields_container align-self-start ">
            {% include "presentacion.html" %}
            <h1>Ver Listado</h1>
            <div class="card_container">
                {% for instance in object_list %}
                <div class="vaccinator_list_container align-self-center">
                    <p class="vaccinator_text"> Nombre: {{ instance.user.nombre_completo }}
                        <br> DNI: {{ instance.user.dni }} 
                        <br> Zona: {{ instance.user.zona }} 
                        <br> Fecha de Nacimiento: {{ instance.user.fecha_nac.date }} </p>
                        <div class="button_container ml-auto p-2 align-self-end">
                            <form method="GET" action='/administrator/vaccinator/{{ instance.user.get_absolute_url }}/delete'>
                                <button class="btn button btn-block">Borrar</button>
                            </form>
                        </div>
                </div>  
                {% empty %}
                    <h2>Listado vacio</h2>
                {% endfor %}
                    
            </div>
            {% include "paginator.html" %}
        </div>
    </div>

{% endblock content %}