{% extends 'generic_page_template.html' %}
{% load static %}

{% block child_css %}
    <link rel="stylesheet" href="{% static 'vaccinator_delete_view.css' %}">
{% endblock child_css %}

{% block child_content %}
    <form action="" method="POST">
        {% csrf_token %}
        <h1 class="title">¿Está seguro que quiere borrar al vacunador "{{ vacunador.nombre_completo }}"?</h1>
        <p><input class="btn-submit" type="submit" value="Aceptar" /> <a id="cancelar" class="btn-submit" href='../../vaccinators_list/?'>Cancelar</a></p>
    </form>
{% endblock child_content %}