{% extends 'base.html' %}
{% load static %}
{% block css %}
    
    <link rel="stylesheet" href="{% static 'vaccinator_creation_step2.css' %}">
    
    
{% endblock css %}
{% block content %}
<div class="total_container container-fluid d-flex flex-row">
    {% include "navbar.html" %}
    <div class="main_container">
        {% include "presentacion.html" %}
        <div class="creacion_container">
            <div class="texto_container d-flex flex-column">
                <h1> Creacion de un vacunador</h1>
                <h5>Paso 2/2</h5>
            </div>
            <div class="texto_validado">
                <h3>DNI validado: {{ DNI }}</h3>
                <h3>{{ nombre }}</h3>
            </div>
            <form action="" method="post"> {% csrf_token %}
                {{ form.as_p }}
                <p></p>
                <input type="submit" name="create-account" class="btn-submit" value="Crear cuenta">
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %} 
                            <div class="alert alert-danger">
                               {{ error|escape }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                {% include "messages.html" %}
            </form>
        </div>
    </div>
</div>

{% endblock content %}
