{% extends 'base.html' %}
{% load static %}

{% block css %}
    
    <link rel="stylesheet" href="{% static 'stock_view.css' %}">
    <link rel="stylesheet" href="{% static 'vaccinator_creation.css' %}">
    
    <link rel="stylesheet" href="{% static 'presentacion.css' %}">
{% endblock css %}

{% block content %}
    <div class="total_container container-fluid d-flex flex-row">
        {% include "navbar.html" %}
        <div class="main_container">
            {% include "presentacion.html" %}
            <div class="creacion_container">
                <div class="texto_container d-flex flex-column">
                    <h1> Cambiar nombre de vacunatorio</h1>
                </div>
                <form action="" method="post"> {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn-submit" value="Actualizar nombre">
                    {% include "messages.html" %}
                </form>
            </div>
        </div>
    </div>
   

{% endblock content %}