{% extends 'generic_page_template.html' %}
{% load static %}

{% block child_css %}
    <link rel="stylesheet" href="{% static 'vaccinator_delete_view.css' %}">
{% endblock child_css %}

{% block title %}<h1>Panel de solicitud de turno para el paciente {{ petition.paciente.user.nombre_completo }}</h1>{% endblock title %}
{% block child_content %}
    <h1>en el vacunatorio: {{ petition.vacunatorio.nombre }}</h1>
    <h3>Indicar fecha y hora del turno, los horarios deben ser entre 8 y 16 hs, con turnos cada 15 minutos</h3>
    <br>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <p><input class="btn-submit" type="submit" value="Crear" name="create"/> 
        <a id="rechazar" class="btn-submit" href= "{% url 'reject_petition' petition.get_absolute_url %}">Rechazar</a></p>
        {% include "messages.html" %}
    </form>
    {% include "errors.html" %}
{% endblock child_content %}