{% extends 'base.html' %}
{% load static %}

{% block css %}
    
    <link rel="stylesheet" href="{% static 'vaccinator_delete_view.css' %}">
    
    <link rel="stylesheet" href="{% static 'presentacion.css' %}">
{% endblock css %}

{% block content %}
<div class="main_container container-fluid d-flex flex-row">
    {% include "navbar.html" %}
    <div class="main_fields_container align-self-start ">
        {% include "presentacion.html" %}
        <form action="" method="POST">{% csrf_token %}
            <h1 class="title">Panel de solicitud de turno para el paciente {{ petition.paciente.user.nombre_completo }}</h1>
            <h2>En el vacunatorio: {{ petition.vacunatorio.nombre }}</h2>
            {{ form.as_p }}
            <p><input class="btn-submit" type="submit" value="Crear" name="create"/> <a id="rechazar" class="btn-submit" href="/administrator/yellow_fever_list/reject/{{ petition.get_absolute_url }}">Rechazar</a>
            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                    {{ message }}
                </div>
            {% endfor %}
            {% include "errors.html" %}
            </p>
        </form>
    </div>
{% endblock content %}