{% load i18n %}{% autoescape off %}
{% blocktranslate %}Estás recibiendo este mail porque te vacunaste en un vacunatorio de Vacunassist.{% endblocktranslate %}

<br>
{% translate 'Te vacunaste sin turno en: ' %} {{ vacunacion.vacunatorio }} 
{% translate ' de ' %} {{ vacunacion.vacuna }} {% translate ' el ' %} {{ vacunacion.fecha }} 
<br>
{% translate "No tenes cuenta en nuestro sitio, registrate aca: " %} {{ register_url }}
<br>
{% translate "Gracias por usar nuestro sitio!" %}
<br>
{% blocktranslate %} Administración Vacunassist {% endblocktranslate %}

{% endautoescape %}
