{% load i18n %}{% autoescape off %}
{% blocktranslate %}Estás recibiendo este mail porque requeriste un cambio de contraseña en tu usuario de Vacunassist.{% endblocktranslate %}

{% translate "Por favor vaya a esta página para establecer su nueva contraseña:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'Tu usuario en caso de que lo hayas olvidado:' %} {{ user.get_username }}

{% translate "Gracias por usar nuestro sitio!" %}

{% blocktranslate %} Administración Vacunassist {% endblocktranslate %}

{% endautoescape %}
