{% extends 'generic_page_template.html' %}
{% load static %}

{% block child_css %}
    <link rel="stylesheet" href="{% static 'contact_us.css' %}">
{% endblock child_css %}

{% block child_content %}
    <div class="contact_us_container container-fluid d-flex flex-column">
        <div class="element_container">
            <img src="{% static 'img/email.svg' %}" alt="" class="contact_img">
            <h3>vacunassist@soporte.com</h3>
        </div>
        <div class="element_container">
            <img src="{% static 'img/contact_icon.svg' %}" alt="" class="contact_img">
            <h3>+54 (221) 444 - 5555</h3>
        </div>
        <div class="element_container">
            <img src="{% static 'img/instagram.svg' %}" alt="" class="contact_img">
            <h3>vacunAssist</h3>
        </div>
        <div class="element_container">
            <img src="{% static 'img/facebook.svg' %}" alt="" class="contact_img">
            <h3>vacunAssist_Informativo</h3>
        </div>
    </div>  
{% endblock child_content %}