{% extends 'base.html' %}
{% load static %}

{% block css %}
    
    <link rel="stylesheet" href="{% static 'edit_vaccinator.css' %}">
    <link rel="stylesheet" href="{% static 'nav_bar.css' %}">
    <link rel="stylesheet" href="{% static 'presentacion.css' %}">
{% endblock css %}

{% block title %}Editar Perfil{% endblock title%}
{% block content %}
    <div class="main_container d-flex container-fluid">
        <div class="navbar_container">
            {% include "navbar.html" %}
        </div>
        <div class="main_fields_container">
            {% include "presentacion.html" %}
            <div class="list-container">
                <h1>Editando el Perfil de {{ usuario.nombre_completo }} </h1>
                <div class="form-group">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" class="btn-submit" value="Aceptar"/>
                    </form>
                    {% include "messages.html" %}
                </div>
            </div>
        </div>
    </div>
    

   
{% endblock content %}
