{% extends 'generic_page_template.html' %}
{% load static %}

{% block child_css %}
    <link rel="stylesheet" href="{% static 'generic_card_list.css' %}">
{% endblock child_css %}

{% block titulo %}<h1>Ver Listado</h1>{% endblock titulo %}
{% block filter %}{% endblock filter %}
{% block child_content %}
    <div class="card_container">
        {% for instance in object_list %}
            <div class="vaccinator_list_container ml-auto p-2 align-self-center">
                {% block card %}
                {% endblock card %}
            </div>  
            {% empty %}
                {% block empty_list %}<h2>Listado vacio</h2>{% endblock empty_list %}
            {% endfor %}
        {% include "paginator.html" %}
        {% include "messages.html" %}
        {% include "errors.html" %}
    </div>
{% endblock child_content %}