{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'notifications.css' %}">
    <link rel="stylesheet" href="{% static 'nav_bar.css' %}">
    <link rel="stylesheet" href="{% static 'presentacion.css' %}">
{% endblock css %}

{% block content %}
    <div class="main_container container-fluid d-flex flex-row">
        <div class="navbar_container">
            {% include "navbar.html" %}
        </div>
        <div class="main_fields_container align-self-start ">
            {% include "presentacion.html" %}
            
            <div class="notifications_container">
               <h1 >Mis Turnos</h1>
               {% if is_staff %}
                <h1> No tenes turnos asignados, ya que eres parte del personal </h1>
               
               {% else %}
                {% for turn in object_list %}
                    <div class="turn align-self-center p-2">
                        <p>
                            <br>Vacunatorio: {{ turn.vacunatorio.nombre }}
                            <br>Fecha: {{ turn.fecha }}
                            <br>Vacuna: {{ turn.vacuna.nombre }}
                        </p>
                            <div class="formul ml-auto p-2 align-self-center">
                                {% if turn.vacuna.nombre == "Fiebre amarilla" %}
                                <form action="" method="post" onsubmit="return confirm('Seguro que quiere cancelar su turno?')"> 
                                    {% csrf_token %}
                                    <input type="submit" value="Cancelar" name="{{ turn.id }}" class="btn button btn-block"></form>
                                {% else %}
                                <form action="" method="post" onsubmit="return confirm('Seguro que quiere reasignar su turno?')"> 
                                    {% csrf_token %}
                                    <input type="submit" value="Reasignar" name="{{ turn.id }}" class="btn button btn-block"></form>
                                {% endif %}
                            </div>
                        </div>
                        {% empty %}
                            <h3> No Tienes ningun turno asignado</h3>
                        {% endfor %}
                        
                        {% include "messages.html" %}
                    </div>
                    {% include "paginator.html" %}
                {% endif %}
            </div>  
        </div>
    </div>

{% endblock content %}