{% extends 'base.html' %}
{% load static %}

{% block css %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'administrator_landing.css' %}">
    <link rel="stylesheet" href="{% static 'nav_bar.css' %}">
    <link rel="stylesheet" href="{% static 'presentacion.css' %}">
{% endblock css %}

{% block content %}
    <div class="main_container container-fluid d-flex flex-row">
        <div class="navbar_container">
            {% include "navbar.html" %}
        </div>
        <div class="main_fields_container align-self-start ">
            {% include "presentacion.html" %}
            
            <div class="zona_container">
               <h1>Estas en Notificaciones</h1>
               <h1>{{ is_staff}} </h1>
               {% for turn in object_list %}
                <div class="turn">
                    {{ turn.vacunatorio.nombre }}
                    {{ turn.fecha }}
                    {{ turn.vacuna.nombre }}
                    <form action="" method="post" onsubmit="return confirm('Seguro que quiere cancelar su turno?')"> 
                        {% csrf_token %}
                        <input type="submit" value="Cancelar" name="{{ turn.id }}"></form>
                    </div>
                    {% endfor %}
                    
                    {% include "messages.html" %}
                </div>
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; primera</a>
                            <a href="?page={{ page_obj.previous_page_number }}">anterior</a>
                        {% endif %}
                
                        <span class="current">
                            Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                        </span>
                
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">siguiente</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">última &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>  
        </div>
    </div>
{% bootstrap_javascript jquery='full' %}
{% endblock content %}