{% extends 'base.html' %}
{% load static %}

{% block css %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'home_page.css' %}">
    <link rel="stylesheet" href="{% static 'nav_bar.css' %}">
    <link rel="stylesheet" href="{% static 'presentacion.css' %}">
{% endblock css %}

{% block content %}
    <div class="main_container container-fluid d-flex flex-row">
        <div class="navbar_container">
            {% include "navbar.html" %}
        </div>
        <div class="main_fields_container align-self-start">
            {% include "presentacion.html" %}
            <div class="principal_campos">
                <div class="paneles">
                    <div class="panel" name="panel_covid">
                        <div class="texto_panel">
                            <div class="panel_interior_exito">
                                <p class="texto_panel_exito title">COVID-19</p>
                                <p class="texto_panel_exito">Usted está en espera
                                    de un turno para esta vacuna. En cuanto le sea asignado se le notificará y se agregará a la lista de “Mis Turnos”</p>
                            </div>
                        </div>
                        <form action="" method="get">
                            <input type="submit" value="Turno solicitado" name="turno_covid" class="panel_boton_en_espera" disabled="true">
                        </form>
                    </div>
                    <div class="panel" name="panel_gripe">
                        <div class="texto_panel">
                            <div class="panel_interior_exito">
                                <p class="texto_panel_exito title">Gripe</p>
                                <p class="texto_panel_exito">Su turno para esta vacuna ya está asignado para la fecha 10/10/2022
                                    y el horario 08:15
                                
                                    <br>No te olvides de cancelar el turno anticipadamente si no vas a poder asistir</p>
                            </div>
                        </div>
                        <form action="/notifications" method="get">
                        <input type="submit" value="Cancelar turno" name="turno_gripe" class="panel_boton_asignado">
                        </form>
                    </div>
                    <div class="panel" name="panel_fiebre_amarilla">
                        {% if puede_fiebre_amarilla %}
                            {% if turno_amarilla %}
                                <div class="texto_panel">
                                    <div class="panel_interior_exito">
                                        <p class="texto_panel_exito title">Fiebre amarilla</p>
                                        <p class="texto_panel_exito">Su turno fue asignado en {{ turno_amarilla.vacunatorio }} <br> el día {{ turno_amarilla.fecha.date }}</p>
                                    </div>
                                </div>
                                <form action="/notifications" method="get">
                                    <input type="submit" value="Cancelar turno" name="cancelar_turno_amarilla" class="panel_boton_asignado">
                                </form>
                            {% else %}
                                {% if esta_en_waitlist %}
                                    <div class="texto_panel">
                                        <div class="panel_interior_exito">
                                            <p class="texto_panel_exito title">Fiebre amarilla</p>
                                            <p class="texto_panel_exito">Usted está en espera de un turno para esta vacuna. En cuanto le sea asignado se le notificará y se agregará a la lista de “Mis Turnos”</p>
                                        </div>
                                    </div>
                                {% else %}
                                <div class="texto_panel">
                                    <div class="panel_interior_exito">
                                        <p class="texto_panel_exito title">Fiebre amarilla</p>
                                        <p class="texto_panel_exito">Usted puede pedir un turno de fiebre amarilla, presione pedir turno y un administrador revisara su caso</p>
                                    </div>
                                </div>
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="submit" value="Pedir turno" name="pedir_turno_amarilla" class="panel_boton_en_espera">
                                </form>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <div class="texto_panel">
                                <div class="panel_interior_inhabilitado">
                                    <p class="texto_panel_inhabilitado title">Fiebre amarilla</p>
                                    <p class="texto_panel_inhabilitado">Usted forma parte del grupo que el Ministerio de Salud indica que no debe aplicarse esta vacuna.Para saber más, presione el botón “Ver Más”</p>
                                </div>
                            </div>
                            <form action="/information" method="get">
                                <input type="submit" value="Ver mas" name="turno_amarilla" class="panel_boton_inhabilitado">
                            </form>
                        {% endif %}
                    </div>
                </div>
                <div class="proximos_turnos">
                    <div class="titulo">
                        <p class="texto_del_titulo">Proximos Turnos</p>
                    </div>
                    <div class="info_principal">
                        <p class="info_vaccine">Vacuna: Gripe Fecha: 10/10/2022 Horario: 08:00</p>
                        <p class="info_vaccine">Vacuna: Gripe Fecha: 11/10/2022 Horario: 09:00</p>
                        <p class="info_vaccine">Vacuna: Gripe Fecha: 12/10/2022 Horario: 10:00</p>
                        <p class="info_vaccine">Vacuna: Gripe Fecha: 13/10/2022 Horario: 11:00</p>
                        <p class="info_vaccine">Vacuna: Gripe Fecha: 14/10/2022 Horario: 12:00</p>
                        <p class="info_vaccine">Vacuna: Gripe Fecha: 15/10/2022 Horario: 13:00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>  
      
{% bootstrap_javascript jquery='full' %}
{% endblock content %}
