{% load static %}
<link rel="stylesheet" href="{% static 'presentacion.css' %}">

<div class="text_container container-fluid">    
    <div class="presentacion_container container-fluid">
        <h1 id="titulo">Bienvenido, {{ request.user.nombre_completo }}</h1>
        <h5 id="slogan">Vacunate, mas facil</h5>
    </div>
    <div class="perfil_container">
        <img src="/static{{request.user.profile_pic.url}}" alt="profile" id="profile" class="perfil profile-pic">
        <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle d-flex flex-row" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <h5>Mi perfil</h5>
                <img src="{% static 'img/profile_arrow.svg' %}" alt="" class="flecha">
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href={{ request.session.editar_perfil_url }}>Editar Perfil</a> 
                <a class="dropdown-item" href="{% url 'contact_us' %}">Soporte y ayuda</a>
                <a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesion</a>
            </div>
            
        </div>
    </div>
</div>