{% extends 'generic_page_template.html' %}
{% load static %}

{% block child_css %}
<link rel="stylesheet" href="{% static 'edit_profile.css' %}">
{% endblock child_css %}


{% block title %}<h1>Cambiando la contraseña de {{ user.nombre_completo }} </h1>{% endblock title%}
{% block child_content %}
    <form method="POST" class="form-group">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn-submit" value="Cambiar contraseña" name = "update_password"/>
    </form>
        {% include "errors.html" %}
        {% include "messages.html" %}
{% endblock child_content %}
