{% extends 'base.html' %}

{% block content %}
    <h1>Ver Listado</h1>
    {% for instance in object_list %}
        <p> Nombre: {{ instance.user.nombre_completo }} / DNI: {{ instance.user.dni }} / Fecha de Nacimiento: {{ instance.user.fecha_nac }} </p>
        <form method="GET" action='/administrator{{ instance.user.get_absolute_url }}/delete'>
            <input type="submit" value="borrar">
        </form>
        <form method="GET" action='/administrator{{ instance.user.get_absolute_url }}'>
            <input type="submit" value="editar">
        </form>
    {% endfor %}
{% endblock content %}

