{% extends 'base.html' %}
{% load static %}

{% block css %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'stock_view.css' %}">
    <link rel="stylesheet" href="{% static 'vaccinator_creation.css' %}">
    <link rel="stylesheet" href="{% static 'nav_bar.css' %}">
    <link rel="stylesheet" href="{% static 'presentacion.css' %}">
{% endblock css %}

{% block content %}
    <div class="total_container container-fluid d-flex flex-row">
        <div class="navbar_container">
            {% include "navbar.html" %}
        </div>
        <div class="main_container">
            {% include "presentacion.html" %}
            <div class="creacion_container">
                <div class="texto_container d-flex flex-column">
                    <h1> Cambiar nombre de vacunatorio</h1>
                </div>
                <form action="" method="post"> {% csrf_token %}
                    {{ form.as_p }}
                    {% if messages %}
                        <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    <input type="submit" class="btn-submit" value="Actualizar nombre">
                </form>
            </div>
        </div>
    </div>
   

{% endblock content %}