{% extends 'base.html' %}
{% load static %}

{% block css %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'zona.css' %}">
    <link rel="stylesheet" href="{% static 'nav_bar.css' %}">
    <link rel="stylesheet" href="{% static 'presentacion.css' %}">
{% endblock css %}

{% block content %}
    <div class="main_container container-fluid d-flex flex-row">
        <div class="navbar_container">
            {% include "navbar.html" %}
        </div>
        <div class="main_fields_container align-self-start ">
            {% include "presentacion.html" %}
            
            <div class="zona_container">
               <h1 class="text">Estas en Zonas</h1>
               <div class="zona"></div>
               <a href="{{ request.session.editar_perfil_url }}">Para editar tu zona accedé a la configuración de tu perfil presionando AQUI</a>
                </div>
            </div>  
        </div>
    </div>
{% bootstrap_javascript jquery='full' %}
{% endblock content %}