{% extends "base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="">
{% endblock css %}
{% block content %}

<div class="clave_container">
    <div class="clave_blob_container">
        <div class="clave_valija_container">
            <img src="{% static 'img/valija.png' %}" alt="" class=valija >
            <div class="clave_container">

                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Login</button>
                </form>
                
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        <img src="{% static 'img/Blob.svg' %}" alt="" class=blob>
    </div>
    <img src="{% static 'img/Semicircles.svg' %}" alt="" >

</div>
    
    

{% endblock %}