{% extends "base.html" %}
{% load static %}
{% block css %}
    
    <link rel="stylesheet" href="{% static 'login_clave.css' %}">
{% endblock css %}
{% block content %}

<div class="clave_main_container">
    <div class="elements d-flex flex-column align-items-center">
        <img src="{% static 'img/Valija.png' %}" alt="" class="valija" >
        <h1 class="vacunassist_text">Vacunassist</h1>
        <div class="clave_container">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class=login value="Iniciar Sesión" ></input>
                </form>
                {% if "loginClave" in request.path %}
                    <a href="/recover/clave_reset/" class="olvidaste_clave align-self-start" >¿Olvidaste tu clave?</a>
                    {% else %}
                    <a href="/recover/password_reset/" class="olvidaste_clave align-self-start" >¿Olvidaste tu contraseña?</a>
                {% endif %}
                <a href="/accounts/registration" class="olvidaste_clave align-self-start">¿No tienes cuenta? Registrate </a>
                {% include "messages.html" %}
        </div>
    </div>
</div>

{% endblock %}