{% extends "base.html" %}
{% load static %}
{% block css %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'login_clave.css' %}">
{% endblock css %}
{% block content %}

<div class="clave_main_container">
    <div class="elements d-flex flex-column align-items-center">
        <img src="{% static 'img/Valija.png' %}" alt="" class="valija" >
        <h1 class="vacunassist_text">Vacunassist</h1>
        <h5>¿Olvidaste  tu contaseña?</h5>
        <b> Ingresa tu mail</b>
        <div class="clave_container">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class=login >Enviar</button>
                </form>
                <a href="/accounts/login/" class="olvidaste_clave align-self-start">Volver </a>
                {% include "messages.html" %}
        </div>
    </div>
</div>

{% endblock %}