{% extends "base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'login_clave.css' %}">
{% endblock css %}
{% block content %}

    <div class="clave_main_container">
        <div class="elements d-flex flex-column align-items-center">
            <img src="{% static 'img/Valija.png' %}" alt="" class="valija" >
            <h1 class="vacunassist_text">Vacunassist</h1>
            <div class="clave_container">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="buttons d-flex flex-column">
                            {% if dni_validated %}
                            <input type="submit" class="login" name="validar_dni" value="Validar DNI" id="" disabled="true">
                            <input type="submit" class="login" name="crear_cuenta" value="Crear cuenta" onclick="document.getElementById('id_dni').disabled = false;">
                            <script>document.getElementById("id_dni").disabled = true;</script>
                            {% else %}
                            <input type="submit" class="login" name="validar_dni" value="Validar DNI" id="" >
                            <input type="submit" class="login" name="crear_cuenta" value="Crear cuenta" disabled="true">
                            {% endif %}
                        </div>
                        {% include "messages.html" %}
                        {% include "errors.html" %}
                        <a href={% url 'login' %} class="olvidaste_clave align-self-start">¿Ya tenes cuenta? Inicia sesion </a>
                    </form>
            </div>
        </div>
    </div>
    

{% endblock content %}