{% extends "base.html" %}
{% load static %}
{% block css %}
    
    <link rel="stylesheet" href="{% static 'login_clave.css' %}">
{% endblock css %}
{% block content %}

<div class="clave_main_container">
    <div class="elements d-flex flex-column align-items-center">
        <img src="{% static 'img/Valija.png' %}" alt="" class="valija" >
        <h1 class="vacunassist_text">Vacunassist</h1>
        <h5> Se envió la clave de autenticacion al mail, si coincide con alguna cuenta</h5>
        <div class="clave_container">
                <a href="{% url 'login' %}" class="olvidaste_clave align-self-start"> Ir a login </a>
        </div>
    </div>
</div>

{% endblock %}