{% extends "base.html" %}
{% load static %}
{% block css %}
    
    <link rel="stylesheet" href="{% static 'login_clave.css' %}">
{% endblock css %}
{% block content %}
{% load simple_tags %}

<div class="clave_main_container">
    <div class="elements d-flex flex-column align-items-center">
        <img src="{% static 'img/Valija.png' %}" alt="" class="valija" >
        <h1 class="vacunassist_text">Vacunassist</h1>
        <div class="clave_container">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %} 
                            <div class="alert alert-danger">
                            {{ error|escape }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                <input type="submit" class=login value="Confirmar" ></input>
            </form>
            <div class="clave_container">
                <a href={% url 'login' %} class="olvidaste_clave align-self-start"> Ir a login </a>
            </div>
            {% include "messages.html" %}
        </div>
    </div>
</div>

{% endblock %}