{% extends 'base.html' %}
{% load encode_static %}

{% block content %}
    <img src="{% encode_static 'img/Logo_con_texto.png' %}" alt="menu_icon" class="menu-icon align-self-center">
    <h1>Reporte de vacunacion</h1>
    <h2>Filtro utilizado: {{ filter }}</h2>
    <div class="carde">
        {% for instance in object_list %}
            <div class="vaccinator_list_container ml-auto p-2 align-self-center">
                <p class="vaccinator_text"> 
                    Nombre: {{ instance.paciente.user.nombre_completo }} 
                    <br> DNI: {{ instance.paciente.user.dni }} 
                    <br> Zona: {{ instance.paciente.user.zona }} 
                    <br> Vacuna: {{ instance.vacuna }} 
                    <br> Fecha de la vacunacion: {{ instance.fecha }} </p>
            </div>  
            {% empty %}
            <h3>No te diste vacunas de la COVID en VacunAssist</h3>
        {% endfor %}
    </div>

{% endblock content %}